<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Edit your Blockchain Health Record</h2>
	<div class="jumbotron">
		<div class="container">
			<form>
				<angucomplete-alt id="ex2"
									placeholder="Introduce desease"
									pause="300"
									selected-object="selectedPerson"
									local-data="people"
									local-search="localSearch"
									title-field="code,short"
									description-field=""
									minlength="1"
									ng-model="user.desease2"
									input-class="form-control form-control-small"
									match-class="highlight" />
				</div>
				<br>
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="insert()">Submit</a>
			</p>
		</form>

	</div>
</div>
